openapi: 3.1.0
info:
  title: Canopy Events API
  version: 1.0.0
  summary: Events among friends, for the web page and the iOS and Android apps.
  description: |
    The JSON API behind `events.canopysf.com`. The web pages use it with the
    `canopy_session` cookie; apps use it with `Authorization: Bearer <token>`,
    where the token is a `canopy_session` value. `docs/api.md` in the repo is
    the narrative guide: auth, the RSVP state machine, the visibility rules,
    pagination and errors, with worked examples.

    **Conventions.** JSON in and out. Times are ISO 8601 UTC strings
    (`2026-10-31T03:00:00.000Z`); input times need `Z` or an offset. Ids are
    strings. Errors are `{"error": "<a sentence>", "reason": "<snake_case>"}`
    with the right status: branch on `reason`, show `error` if you like.
    Lists take `?cursor=&limit=` and answer with `nextCursor` (null at the
    end). Every answer is `Cache-Control: no-store`.

    **Other people** are only ever `Person`: id, first and last name, short
    name and photo. Nobody's email, phone, Instagram, Venmo or Cash App is
    ever in an answer, not even your own: those come from Canopy Accounts
    (`GET /api/native/v1/me`).
  license:
    name: Private
    identifier: LicenseRef-Proprietary
servers:
  - url: https://events.canopysf.com
    description: Production
  - url: http://localhost:3001
    description: Local development
tags:
  - name: Events
    description: Making, reading and editing events.
  - name: Guests
    description: Answers (RSVPs), the guest list and invitations.
  - name: Hosts
    description: Co-hosts.
  - name: Wall
    description: The activity wall, posts and the server's own entries.
  - name: Notifications
    description: Your inbox, and the phones push goes to.
  - name: Moderation
    description: Removing guests, and making a new link.
  - name: People
    description: Finding someone to invite by their phone or Instagram.
  - name: Me
    description: You and your events.
  - name: Friends
    description: Your friends, adding and taking people out, and your friend link.
  - name: Guest menu
    description: "A guest's own controls on an event: mute it, leave it, and opt out of a host's invitations."
  - name: Docs
    description: This document.
  - name: Site to site
    description: |
      Not for apps or pages. Asked by the Canopy Account service, server
      to server, signed with events' calendar secret.
security:
  - bearerAuth: []
  - cookieAuth: []

paths:
  /api/v1/openapi.yaml:
    get:
      tags: [Docs]
      operationId: getOpenApi
      summary: This document
      security: []
      responses:
        '200':
          description: The OpenAPI 3.1 document, as YAML.
          content:
            application/yaml:
              schema:
                type: string

  /api/v1/events:
    post:
      tags: [Events]
      operationId: createEvent
      summary: Make an event
      description: |
        Verified people only: an unverified (quick) account gets a 403 with
        `reason: email_unverified` and a `verify` link. You become its
        creator and only host. Limited to 20 a day per person (429
        `rate_limited`). Fields left out take their defaults; fields this
        server doesn't know are ignored.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EventInput' }
            examples:
              dinner:
                value:
                  title: Rooftop dinner
                  description: Bring a jacket.
                  startsAt: '2026-10-31T19:30:00-07:00'
                  endsAt: '2026-10-31T23:00:00-07:00'
                  timeZone: America/Los_Angeles
                  locationName: "Ana's place"
                  locationAddress: 1 Market St, San Francisco
                  guestListVisibility: responded
                  details:
                    - { type: link, label: Playlist, value: 'https://open.spotify.com/playlist/37i9dQZF1DX4WYpdgoIcn6' }
                    - { type: dress_code, value: Warm layers }
                    - { type: parking, value: "Street parking on Main; the garage closes at 11." }
      responses:
        '201':
          description: The new event.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EventEnvelope' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '413': { $ref: '#/components/responses/TooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/events/{id}:
    parameters:
      - $ref: '#/components/parameters/EventId'
    get:
      tags: [Events]
      operationId: getEvent
      summary: One event
      description: |
        Anyone with the link, signed in or not. Signed out, you get the
        public details for a link preview or a "sign in to answer" page:
        no guest names, no street address (`locationAddress` is null and
        `locationAddressHidden` true), no `parking`, `accommodation` or
        `phone` details (`hiddenDetails` counts them), `viewer` null and
        no `friendsGoing`.
        Signed in, you get the address, your own part (`viewer`) and which
        of your friends are going. Someone a host removed gets the
        signed-out view, with `viewer.rsvp.status` `removed`.

        After the creator makes a new link, the old id is a 404
        `event_not_found`, the same as an id that never existed.
      security:
        - {}
        - bearerAuth: []
        - cookieAuth: []
      responses:
        '200':
          description: The event, as you see it.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EventEnvelope' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/EventNotFound' }
        '503': { $ref: '#/components/responses/Unavailable' }
    patch:
      tags: [Events]
      operationId: updateEvent
      summary: Edit, cancel or un-cancel an event
      description: |
        Hosts only (403 `hosts_only`): the creator and co-hosts. Send only
        the fields to change; null or "" clears an optional one. `status:
        cancelled` cancels it (it then takes no answers or invitations),
        `status: active` takes that back; only the creator may (403
        `creator_only`). There's no deleting: a cancelled event keeps its
        link and its guest list.

        Lowering `guestsAllowed` leaves answers that already bring more as
        they are, flagged with `guestsOverLimit`; their next change has to
        fit.

        `capacity` caps people going plus their plus-ones (null: no cap).
        Raising or clearing it promotes from the waitlist at once.
        Lowering it under how many are going bumps nobody; new `going`
        answers wait until there's room.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EventPatch' }
            examples:
              cancel:
                value: { status: cancelled }
              move:
                value: { startsAt: '2026-11-01T19:30:00-07:00', endsAt: null }
              plusOnes:
                value: { guestsAllowed: 2 }
              details:
                value: { details: [{ type: food, label: Potluck, value: "Bring a dish to share.\nWe'll have drinks." }, { type: phone, value: '(415) 555-0142' }] }
      responses:
        '200':
          description: The event after the change.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EventEnvelope' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/EventNotFound' }
        '503': { $ref: '#/components/responses/Unavailable' }
    delete:
      tags: [Events]
      operationId: deleteEvent
      summary: Delete an event
      description: |
        The creator only (403 `creator_only` for a co-host or anyone else).
        The event and everything under it go for good: its hosts, answers
        and invitations, its wall, everyone's notifications about it, and
        its cover. Its link is a 404 `event_not_found` afterwards, like any
        wrong link. **Nobody is notified**: to tell people an event is off,
        cancel it instead (`PATCH` with `status: cancelled`), which keeps
        it to open. Who has hosted it still counts for `hasHosted`.
      responses:
        '200':
          description: Deleted.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Ok' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/EventNotFound' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/events/{id}/rsvp:
    parameters:
      - $ref: '#/components/parameters/EventId'
    put:
      tags: [Guests]
      operationId: setRsvp
      summary: Answer, or change your answer
      description: |
        `going`, `maybe` or `not_going`. Anyone signed in with the link may
        answer, invited or not, unverified accounts included. Refused with
        409 for a cancelled event (`event_cancelled`), one that's over
        (`event_over`), or by a host (`host_cannot_rsvp`). With a
        `capacity`, a `going` that doesn't fit is saved as `waitlisted`;
        someone already going who asks for more plus-ones than there's
        room for gets 409 `no_room` and keeps their spot as it was.
        Changing to `maybe` or `not_going`, or fewer plus-ones, frees
        spots for the waitlist. `guests` (plus-
        ones) is up to the event's `guestsAllowed` (400 `too_many_guests`),
        0 if left out, and always 0 for `not_going`.

        An answer can change but is never taken back: there's no way from
        an answer to `invited` or to no answer (no `DELETE` here; it's 404
        `not_found` like any unknown route). `not_going` is how you leave;
        it keeps you on the list as `not_going`.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RsvpInput' }
            examples:
              going:
                value: { status: going }
              withTwo:
                value: { status: going, guests: 2 }
      responses:
        '200':
          description: |
            The event after your answer; `viewer.rsvp` is it. `waitlisted`
            is true when you asked for `going` and the event was full (for
            you and your plus-ones), so you're on the waitlist instead:
            you'll be moved to `going` (and notified) when a spot that fits
            you frees up.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RsvpResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/EventNotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/events/{id}/guests:
    parameters:
      - $ref: '#/components/parameters/EventId'
    get:
      tags: [Guests]
      operationId: listGuests
      summary: The guest list
      description: |
        Signed in only. `counts` always. Names (`guestsVisible: true`) for
        hosts always; for everyone else when the event's
        `guestListVisibility` is `everyone`, or once you've answered (any
        answer, `not_going` included) when it's `responded`. Otherwise
        `guestsVisible` is false and `guests` is empty. Non-hosts see
        answers only; hosts also see who's `invited` with no answer. In the
        order people got their status, oldest first.
      parameters:
        - name: status
          in: query
          description: Only this status. `invited` and `removed` are for hosts (403 `hosts_only` otherwise).
          schema: { $ref: '#/components/schemas/RsvpStatus' }
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of the guest list.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GuestList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/EventNotFound' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/events/{id}/invites:
    parameters:
      - $ref: '#/components/parameters/EventId'
    post:
      tags: [Guests]
      operationId: invite
      summary: Invite people
      description: |
        Hosts only. By person id: the web page offers your friends
        (`GET /api/v1/me/friends`), but any Canopy Account's id works.
        Each id ends up in `invited`, or in `skipped` with why:
        `already_on_list` (invited before, or already answered),
        `is_host`, or `not_found` (no such account, **or** someone who
        has opted out of your invitations: deliberately the same, so it
        never says which). 1 to 100 ids a
        request; 300 invitations per host a day (429 `rate_limited`). 409
        for a cancelled event or one that's over.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/InviteInput' }
            examples:
              two:
                value:
                  personIds: [6f1c2b9e-4d0a-4a53-9a51-2f7e0c1d8b44, 0b7e5a1f-9c2d-4e8b-8f3a-1d2c3b4a5e6f]
      responses:
        '200':
          description: Who was invited, and who wasn't and why.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InviteResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/EventNotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/events/{id}/invites/{personId}:
    parameters:
      - $ref: '#/components/parameters/EventId'
      - name: personId
        in: path
        required: true
        schema: { type: string }
    delete:
      tags: [Guests]
      operationId: uninvite
      summary: Take back an invitation
      description: |
        Hosts only, and only while it has no answer: 409
        `already_responded` once they've answered (their answer stays), 404
        `not_invited` if they weren't invited. Their notifications about
        the event (the invitation) are deleted.
      responses:
        '200':
          description: Done.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Ok' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/events/{id}/cohosts:
    parameters:
      - $ref: '#/components/parameters/EventId'
    post:
      tags: [Hosts]
      operationId: addCohost
      summary: Make someone a co-host
      description: |
        The event's creator only (403 `creator_only`), and they have to be
        verified themselves. Co-hosts can edit the event and invite
        people; only the creator manages co-hosts, cancels, and makes a
        new link. At most 10 co-hosts (409 `too_many_cohosts`).

        **The co-host has to be verified too.** Canopy Accounts doesn't
        tell sites whether someone else is, so it goes by what events saw
        the last time they used it: someone who hasn't opened Canopy
        Events signed in with a verified email gets a 403
        `email_unverified` with **no** `verify` link (that link is only
        ever for the caller's own email). They can open any event link,
        then try again.

        Becoming a co-host replaces any answer or invitation they had
        (hosts don't answer their own events), plus-ones included. Adding
        someone who's already a co-host changes nothing and answers 200.
        409 for a cancelled event or one that's over, and `is_creator`
        for yourself. 404 `person_not_found` for an id with no account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [personId]
              properties:
                personId: { type: string, description: A Canopy person id. }
            examples:
              ben:
                value: { personId: 0b7e5a1f-9c2d-4e8b-8f3a-1d2c3b4a5e6f }
      responses:
        '200':
          description: The event, with them in `hosts` as `cohost`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EventEnvelope' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/events/{id}/cohosts/{personId}:
    parameters:
      - $ref: '#/components/parameters/EventId'
      - $ref: '#/components/parameters/PersonId'
    delete:
      tags: [Hosts]
      operationId: removeCohost
      summary: Take a co-host off, or step down
      description: |
        The creator takes off any co-host; a co-host can take themselves
        off (anyone else: 403 `creator_only`). They're left **invited**,
        so the event stays in their invitations and they can answer like
        any guest. 404 `not_cohost` if they aren't one.
      responses:
        '200':
          description: The event after.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EventEnvelope' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/events/{id}/wall:
    parameters:
      - $ref: '#/components/parameters/EventId'
    get:
      tags: [Wall]
      operationId: listWall
      summary: The activity wall
      description: |
        Newest first. Readable by anyone who can see the guest list's
        names (`viewer.canSeeGuestList`), since it's full of them; anyone
        else signed in gets `wallVisible: false` and no entries. Entries
        are posts (`type: post`, with `text`) and the server's own, which
        are typed rather than written out, for the app to word: see
        `WallEntry`. `canPost` says whether you may post.
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of the wall.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Wall' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/EventNotFound' }
        '503': { $ref: '#/components/responses/Unavailable' }
    post:
      tags: [Wall]
      operationId: postToWall
      summary: Post on the wall
      description: |
        Hosts, and anyone whose answer is `going`, `maybe` or
        `waitlisted` (403 `answer_first` otherwise). Plain text, 1 to
        1,000 characters after trimming (400 `bad_text`); it's never
        HTML, so escape it when you show it. Cancelled and finished events
        still take posts. 5 a minute and 100 a day per person (429
        `rate_limited`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string, minLength: 1, maxLength: 1000 }
            examples:
              hello:
                value: { text: "Can't wait! I'll bring the cake." }
      responses:
        '201':
          description: The new post.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [entry]
                properties:
                  entry: { $ref: '#/components/schemas/WallEntry' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/EventNotFound' }
        '413': { $ref: '#/components/responses/TooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/events/{id}/wall/{entryId}:
    parameters:
      - $ref: '#/components/parameters/EventId'
      - name: entryId
        in: path
        required: true
        description: A wall entry's `id`.
        schema: { type: string, pattern: '^[0-9]+$' }
    delete:
      tags: [Wall]
      operationId: deleteWallEntry
      summary: Delete a post or entry
      description: |
        Your own post, or anything on the wall if you're a host (403
        `not_yours` otherwise; `canDelete` on each entry says in
        advance). 404 `entry_not_found` for one that isn't there (already
        deleted, say).
      responses:
        '200':
          description: Deleted.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Ok' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/events/{id}/cover:
    parameters:
      - $ref: '#/components/parameters/EventId'
    put:
      tags: [Events]
      operationId: setCover
      summary: Upload a cover image
      description: |
        Hosts only. `multipart/form-data` with the image in a field named
        `cover`: JPEG, PNG, WebP or HEIC, up to 15 MB (413 `too_large`).
        It's told by its bytes, not its name or type; anything else is
        400 `bad_image`, and so is a photo over 50 megapixels (HEIC: 25
        megapixels, which takes the 12 and 24 megapixel photos iPhones
        save by default; shrink a 48-megapixel one first). The server
        turns it the right way up, shrinks it to fit 1600 px, and stores
        it as a JPEG **with no EXIF** (no location), along with narrower
        copies (`coverImages`: 400, 800 and 1200 px wide, those narrower
        than the photo). The event's `coverImageUrl` and `coverImages`
        change with every upload, and `coverHue` /
        `coverGrayscale` say the colour that matches the photo. 30 uploads
        a day per person.

        **An upload never changes `themeHue` or `themeGrayscale`**: offer
        the match to the host, and PATCH it if they take it.

        **Covers are public**: anyone with the URL can load it, signed in
        or not, so link previews can show it. The URL is random, never the
        event's link.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [cover]
              properties:
                cover: { type: string, format: binary }
      responses:
        '200':
          description: The event, with its new `coverImageUrl` and `coverImages`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EventEnvelope' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/EventNotFound' }
        '413': { $ref: '#/components/responses/TooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/Unavailable' }
    delete:
      tags: [Events]
      operationId: deleteCover
      summary: Remove the cover image
      description: Hosts only. Its URL stops working at once (caches may keep it up to an hour). Fine with no cover.
      responses:
        '200':
          description: The event, with `coverImageUrl` null and `coverImages` empty.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EventEnvelope' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/EventNotFound' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/events/{id}/removed/{personId}:
    parameters:
      - $ref: '#/components/parameters/EventId'
      - $ref: '#/components/parameters/PersonId'
    put:
      tags: [Moderation]
      operationId: removeGuest
      summary: Remove someone from the event
      description: |
        Hosts (co-hosts too). Their status becomes `removed`: they can't
        answer again (409 `removed`), they're out of the guest list and
        its counts for everyone (a host sees them with
        `?status=removed`), their `going` entry leaves the wall and their
        posts are hidden, and a spot they held goes to the waitlist.
        They can still open the link, and see what someone signed out
        sees. Someone not on the list yet can be removed ahead of time
        (404 `person_not_found` if there's no such account). Removing
        someone already removed is fine. 409 `is_host` for a host. Nobody
        is notified, and the removed person's notifications about the
        event are deleted.
      responses:
        '200':
          description: Removed.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Ok' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '503': { $ref: '#/components/responses/Unavailable' }
    delete:
      tags: [Moderation]
      operationId: restoreGuest
      summary: Undo a removal
      description: |
        Hosts. They're left **invited** (by you), with no answer, so the
        event is back in their invitations and they can answer again. 404
        `not_removed` if they weren't removed.
      responses:
        '200':
          description: Undone.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Ok' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/events/{id}/new-link:
    parameters:
      - $ref: '#/components/parameters/EventId'
    post:
      tags: [Moderation]
      operationId: newLink
      summary: Make a new link
      description: |
        The creator only (403 `creator_only`). The event gets a new `id`
        (and `url`); **the old one stops working at once** (404
        `event_not_found`, like any wrong link, giving nothing away).
        Everything else stays: hosts, answers, the wall, the cover, and
        everyone's place in their lists, where the event now has its new
        id. Nobody is notified, so share the new link with whoever should
        have it.
      responses:
        '200':
          description: The event, under its new id.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EventEnvelope' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/EventNotFound' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/events/{id}/mute:
    parameters:
      - $ref: '#/components/parameters/EventId'
    put:
      tags: [Guest menu]
      operationId: muteEvent
      summary: Mute an event
      description: |
        For a guest (invited, or with any answer) who isn't hosting: 409
        `is_host` for a host, `not_on_event` for someone with no
        invitation or answer, `removed` for someone a host removed. Your
        inbox and pushes skip the chatter about this event (`wall_post`,
        `rsvp`, `cohost_added`) and still bring the essentials
        (`event_changed`, `event_cancelled`, `event_uncancelled`,
        `waitlist_promoted`, `invited`). Nothing changes on the guest list
        and nobody else can tell. `viewer.muted` is true afterwards. Muting
        again is fine.
      responses:
        '200':
          description: The event, with `viewer.muted` true.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EventEnvelope' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/EventNotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '503': { $ref: '#/components/responses/Unavailable' }
    delete:
      tags: [Guest menu]
      operationId: unmuteEvent
      summary: Unmute an event
      description: Always fine, muted or not. `viewer.muted` is false afterwards.
      responses:
        '200':
          description: The event, with `viewer.muted` false.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EventEnvelope' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/EventNotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/events/{id}/leave:
    parameters:
      - $ref: '#/components/parameters/EventId'
    post:
      tags: [Guest menu]
      operationId: leaveEvent
      summary: Remove yourself from an event
      description: |
        A guest leaves for good: your invitation or answer is deleted (you
        drop off the guest list, its counts, your lists and your
        calendar), your "going" leaves the wall, your notifications about
        the event are deleted, and so is your mute. A spot you held goes
        to the waitlist, as when someone says can't go. Your posts stay.
        Nobody is notified (bar whoever gets your spot).

        It isn't a host's removal: the link still works for you, and you
        can answer again as anyone opening it could. Ask first: it can't
        be undone (an answer is never taken back otherwise, so this is the
        way off an event). 409 `is_host` for a host (a co-host steps down
        with `DELETE .../cohosts/{personId}` instead), `not_on_event` for
        someone not on it, `removed` for someone a host removed.
      responses:
        '200':
          description: The event as you now see it, like anyone opening the link (`viewer.rsvp` null).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EventEnvelope' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/EventNotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/me/invite-optouts:
    get:
      tags: [Guest menu]
      operationId: listInviteOptouts
      summary: Hosts you won't take invitations from
      description: Everyone whose invitations you've opted out of, oldest first, as the public person shape. Only ever shown to you.
      responses:
        '200':
          description: The list.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InviteOptouts' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/me/invite-optouts/{personId}:
    parameters:
      - $ref: '#/components/parameters/PersonId'
    put:
      tags: [Guest menu]
      operationId: optOutOfInvites
      summary: Opt out of someone's invitations
      description: |
        From now on, this person's invitations to you are skipped, and
        they're told no more than for someone with no account: their
        `POST .../invites` answer lists you in `skipped` with `not_found`
        (or the reason anyone would get if you're already on that event,
        hosting it or removed from it). **Deliberately vague**: nothing
        says you opted out. No friendship is made by their invitations
        either. It doesn't take you off any event you're on now. Doing it
        twice is fine. 404 `person_not_found` for an id with no account,
        409 `is_you` for yourself.
      responses:
        '200':
          description: Opted out.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Ok' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '503': { $ref: '#/components/responses/Unavailable' }
    delete:
      tags: [Guest menu]
      operationId: optInToInvites
      summary: Take invitations from someone again
      description: Undoes the opt-out. Fine when you hadn't opted out. Invitations they sent meanwhile aren't brought back.
      responses:
        '200':
          description: Their invitations reach you again.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Ok' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/people/lookup:
    post:
      tags: [People]
      operationId: lookupPerson
      summary: Find someone by phone or Instagram
      description: |
        For inviting someone you know the number or handle of: feed the
        `person.id` you get to `POST /api/v1/events/{id}/invites`.
        Verified people only (403 `email_unverified`, with `verify`).
        Exactly one of `phone` or `instagram`, as a string (400 `one_of`),
        as typed (`(415) 555-1234`, `@ana.lima`); they're cleaned the way
        the Canopy profile cleans them, and matched exactly, never by
        prefix.

        A POST, though it changes nothing: what you're looking for goes in
        the body, never the URL, so it doesn't end up in a log anywhere
        along the way. (It used to be a GET with a query string; that's
        gone.) Don't log the body in the app either.

        The answer is the public `Person` and nothing else: never the
        number or handle you asked about, nor anything else about them. A
        miss is `{"person": null}` with no hint why (no such person, or
        they don't let themselves be found, or two accounts claim it).

        Limited tightly by Canopy Accounts, per person, per network
        address and overall (429 `rate_limited`): don't look up as
        someone types. 403 `lookup_not_allowed` means it isn't switched on
        for this site.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone: { type: string, description: 'As typed, e.g. (415) 555-1234.' }
                instagram: { type: string, description: 'As typed, with or without the @, or a link to the profile.' }
            examples:
              phone:
                value: { phone: (415) 555-1234 }
              instagram:
                value: { instagram: '@ana.lima' }
      responses:
        '200':
          description: Who it is, or null.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [person]
                properties:
                  person:
                    oneOf:
                      - $ref: '#/components/schemas/Person'
                      - type: 'null'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/me:
    get:
      tags: [Me]
      operationId: getMe
      summary: You
      description: |
        You: your id, name, photo, whether your email is proven and whether
        people can find you. No answer here has an email, phone,
        Instagram, Venmo or Cash App in it, yours included; the app gets
        and changes your own at Canopy Accounts (`GET /api/native/v1/me`).
        When
        `person.emailVerified` is false (a quick account), show the
        verify-your-email banner, which can't be dismissed, linking to
        `verifyUrl`. `hasHosted` says whether to show a Hosting tab.
      responses:
        '200':
          description: You.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MeEnvelope' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/me/friends:
    get:
      tags: [Friends]
      operationId: listFriends
      summary: Your friends
      description: |
        Your list: everyone you've been at an event with (both there,
        hosting or `going`, on an event that has started and wasn't
        cancelled; `maybe` and events still to come don't count), plus
        everyone you've added, came to you through a friend link, or an
        invitation either way, minus anyone you took out. One way, like
        following: being in someone's list doesn't put them in yours.
        Only you ever see your list.

        Most events in common first, then the people you only added (by
        id). `source` is how they're in your list: `shared_events`,
        `added` (by id), `link` (a friend link, yours or theirs) or
        `invite` (you invited them, or they invited you). When there's
        both a way in and events in common, it's the way in;
        `eventsInCommon` still counts the events, and is 0 (with
        `lastTogetherAt` null) when there are none. Deleted accounts are
        left out, so a page can be short of `limit` with more to come.
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of friends.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FriendList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '503': { $ref: '#/components/responses/Unavailable' }
    post:
      tags: [Friends]
      operationId: addFriend
      summary: Add a friend by id
      description: |
        Puts someone in your list, one way: they aren't asked, aren't
        told, and you aren't put in theirs. Usually after finding them by
        phone or Instagram (`POST /api/v1/people/lookup`). Verified people
        only, the same as the lookup (403 `email_unverified`, with
        `verify`). Adding someone already in your list changes nothing;
        adding someone you took out brings them back. 400
        `bad_person_id`, 404 `person_not_found` (no such account), 409
        `is_you`. Limited per person, per address and overall (429
        `rate_limited`); every try counts, found or not.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [personId]
              properties:
                personId: { type: string, description: A Canopy person id (a UUID). }
      responses:
        '200':
          description: They're in your list.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FriendEnvelope' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/me/friends/{personId}:
    delete:
      tags: [Friends]
      operationId: removeFriend
      summary: Take someone out of your friends
      description: |
        Whatever way they're in your list (added, a link, an invitation,
        or events together), they're out, and they stay out (another
        event together, or them inviting you, doesn't bring them back)
        until you add them again yourself: by id, by their friend link, or
        by inviting them. They aren't told, and their own list is
        untouched. 404 `not_a_friend` if they aren't in your list.
      parameters:
        - $ref: '#/components/parameters/PersonId'
      responses:
        '200':
          description: Out of your list.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Ok' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/me/friend-link:
    get:
      tags: [Friends]
      operationId: getFriendLink
      summary: Your friend link
      description: |
        Your friend link, made the first time you ask. Share `url`, or
        show it as a QR code (its text is exactly `url`). Whoever opens it
        and says yes (`POST /api/v1/friend-links/{code}/accept`) is in
        your list and you're in theirs. Quick (unverified) accounts have
        one too.
      responses:
        '200':
          description: Your link.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FriendLink' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/me/friend-link/reset:
    post:
      tags: [Friends]
      operationId: resetFriendLink
      summary: Make a new friend link
      description: |
        A new link and code; the old one stops working at once (404
        `friend_link_not_found`). Friends made with it stay friends.
      responses:
        '200':
          description: Your new link.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FriendLink' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/friend-links/{code}:
    get:
      tags: [Friends]
      operationId: getFriendLinkOwner
      summary: Whose friend link this is
      description: |
        The link's owner as a `Person` (name and photo, nothing else), for
        anyone with the link, signed in or not. Signed in, `viewer` says
        whether it's your own and whether they're already in your list;
        signed out it's null. Opening it adds nobody: show who it is and
        ask first. 404 `friend_link_not_found` for a code that's unknown
        or was reset; misses are limited per address (429
        `rate_limited`).
      security:
        - bearerAuth: []
        - cookieAuth: []
        - {}
      parameters:
        - $ref: '#/components/parameters/FriendCode'
      responses:
        '200':
          description: The owner.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [person, viewer]
                properties:
                  person: { $ref: '#/components/schemas/Person' }
                  viewer:
                    oneOf:
                      - type: object
                        additionalProperties: false
                        required: [isYou, isFriend]
                        properties:
                          isYou: { type: boolean }
                          isFriend: { type: boolean, description: Already in your list. }
                      - type: 'null'
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/friend-links/{code}/accept:
    post:
      tags: [Friends]
      operationId: acceptFriendLink
      summary: Say yes to a friend link
      description: |
        Both ways: the link's owner is in your list, and you're in
        theirs (sharing the link is their yes). Anyone signed in, quick
        accounts included. Already friends changes nothing. 404
        `friend_link_not_found`, 409 `own_link`, 429 `rate_limited`.
        Answers with the owner as your friend.
      parameters:
        - $ref: '#/components/parameters/FriendCode'
      responses:
        '200':
          description: You're friends.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FriendEnvelope' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/me/settings:
    get:
      tags: [Me]
      operationId: getSettings
      summary: Your settings
      description: |
        Your settings, each with its default until you change it. Today
        one: `calendarInvites`, whether events you're invited to and
        haven't answered go in your Canopy calendar (as tentative,
        titled `[INVITED] <title>`). On by default.
      responses:
        '200':
          description: Your settings.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Settings' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '503': { $ref: '#/components/responses/Unavailable' }
    patch:
      tags: [Me]
      operationId: updateSettings
      summary: Change your settings
      description: |
        Only the settings you send change. A setting this doesn't know is
        400 `unknown_setting`; a value of the wrong type is 400
        `bad_calendar_invites`; a body that isn't an object is 400
        `bad_settings`. Nothing changes on a 400. The calendar picks the
        change up the next time the account service asks (calendar apps
        refresh on their own schedule).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                calendarInvites: { type: boolean }
            example: { calendarInvites: false }
      responses:
        '200':
          description: Your settings, after.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Settings' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/me/events/hosting:
    get:
      tags: [Me]
      operationId: listHosting
      summary: Events you host
      description: Events you host that aren't over, cancelled ones included. Soonest first.
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses: &eventListResponses
        '200':
          description: A page of events.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EventList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/me/events/upcoming:
    get:
      tags: [Me]
      operationId: listUpcoming
      summary: Events you're going to
      description: |
        Events you answered `going` or `maybe` (or are waitlisted for) that
        aren't over. Cancelled ones stay, so you see they're off. Soonest
        first.
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses: *eventListResponses

  /api/v1/me/events/invitations:
    get:
      tags: [Me]
      operationId: listInvitations
      summary: Your invitations
      description: Events you're invited to and haven't answered, that aren't over or cancelled. Soonest first.
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses: *eventListResponses

  /api/v1/me/notifications:
    get:
      tags: [Notifications]
      operationId: listNotifications
      summary: Your inbox
      description: |
        Newest first (by when the latest thing in each happened), with how
        many are unread. Each is typed with structured `details`, never a
        sentence: see `Notification` for the types and how to word them.
        Every push you get is also here.
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of your inbox.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/me/notifications/unread:
    get:
      tags: [Notifications]
      operationId: unreadCount
      summary: How many are unread
      description: Just the number, for a badge. Cheap enough to ask whenever the app comes to the front.
      responses:
        '200':
          description: The unread count.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UnreadCount' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/me/notifications/read:
    post:
      tags: [Notifications]
      operationId: markNotificationsRead
      summary: Mark some read
      description: |
        `{"ids": [...]}`, 1 to 100 notification ids (400 `bad_ids`). Ids
        that aren't yours, or are already read, are ignored. Answers with
        the unread count after.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids]
              properties:
                ids:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items: { type: string }
            examples:
              two:
                value: { ids: ['17', '18'] }
      responses:
        '200':
          description: The unread count after.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UnreadCount' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/me/notifications/read-all:
    post:
      tags: [Notifications]
      operationId: markAllNotificationsRead
      summary: Mark everything read
      responses:
        '200':
          description: Zero.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UnreadCount' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/me/devices:
    post:
      tags: [Notifications]
      operationId: registerDevice
      summary: Register a phone for push
      description: |
        `{"platform": "ios" | "android", "token": "…"}`: the APNs device
        token (hex) or the FCM registration token. Send it after sign-in
        and whenever the OS hands you a new one; sending the same one
        again is fine. A token is one phone, so a token someone else
        registered moves to you. Up to 10 phones each; registering an
        11th drops the one registered longest ago. 400 `bad_platform` or
        `bad_token`.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DeviceInput' }
            examples:
              iphone:
                value: { platform: ios, token: 5f2a9c0e7d4b1a3f6e8c2d9b0a7f4e1c3b6d8a0f2e5c7b9d1a4f6e8c0b2d4a6f }
      responses:
        '200':
          description: Registered.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Ok' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '503': { $ref: '#/components/responses/Unavailable' }
    delete:
      tags: [Notifications]
      operationId: unregisterDevice
      summary: Stop pushing to a phone
      description: |
        `{"token": "…"}`, in the body. Call it when someone signs out on
        the phone. A token that isn't yours (or isn't registered) is
        left alone and still answers 200.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string }
      responses:
        '200':
          description: Done.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Ok' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/SignInRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /api/v1/me/events/declined:
    get:
      tags: [Me]
      operationId: listDeclined
      summary: Events you said you can't go to
      description: |
        Events you answered `not_going` that aren't over or cancelled, so
        you can change your mind. Soonest first. (Invited or not.)
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses: *eventListResponses

  /api/v1/me/events/past:
    get:
      tags: [Me]
      operationId: listPast
      summary: Events you've been to
      description: Events that are over that you hosted or answered `going` or `maybe`. Most recent first.
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses: *eventListResponses

  /api/calendar/{personId}:
    get:
      tags: [Site to site]
      operationId: calendarEntries
      summary: Someone's events, for their Canopy calendar feed (site to site, not for apps)
      description: |
        **Not for apps.** The Canopy Account service asks this, server to
        server, for each person's calendar feed
        (`account.canopysf.com/cal/<secret>.ics`), and merges it with
        every other site's answer. Apps get the feed's link from the
        account service (`GET /api/native/v1/me/calendar`), never from
        here. It's outside `/api/v1` and takes neither the cookie nor a
        bearer token.

        The request is signed: `Authorization: Canopy-Calendar t=<unix
        seconds>, sig=<hex>`, `sig` being HMAC-SHA256 with events'
        calendar secret (`CANOPY_CALENDAR_SECRET`) of
        `canopy-calendar-v1\n<personId>\n<t>`, within five minutes of
        now. Anything else is a 401.

        The entries: events the person hosts, co-hosts or said going to
        (`confirmed`); maybe or waitlisted (`tentative`); any of those that
        was cancelled (`cancelled`, until 30 days after it was to start).
        Invited and not answered yet (`tentative`, titled `[INVITED]
        <title>`, the description starting `You're invited. Answer here:
        <link>`), unless the person turned `calendarInvites` off
        (`/api/v1/me/settings`); answering changes that same entry (same
        `uid`, newer `updatedAt`). Not can't go, removed or uninvited. From 90 days ago on, by
        start. Never anyone's name or contact details. Someone with nothing
        here (or nobody at all) is `{"entries": []}`.
      security:
        - canopyCalendar: []
      parameters:
        - $ref: '#/components/parameters/PersonId'
      responses:
        '200':
          description: Their entries, soonest first.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CalendarEntries' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401':
          description: Not signed by the account service (`unauthorized`), or no calendar secret set here.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                error: only the account service asks this, signed
                reason: unauthorized

components:
  securitySchemes:
    canopyCalendar:
      type: apiKey
      in: header
      name: Authorization
      description: |
        Site to site only: the account service's signature,
        `Canopy-Calendar t=<unix seconds>, sig=<hex HMAC-SHA256>`, with the
        calendar secret the account admin's Sites tab showed for events.
        See `GET /api/calendar/{personId}`.
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        For apps. The token is a `canopy_session` value (43 characters,
        base64url), from the account service's native sign-in (still to be
        built). A request with a bearer header is signed in by it alone,
        never by a cookie, skips the Origin check, and never gets a
        `Set-Cookie` back. A malformed token means signed out.
    cookieAuth:
      type: apiKey
      in: cookie
      name: canopy_session
      description: |
        For the web pages. Set by `account.canopysf.com` for all of
        `canopysf.com`. Changes (POST, PUT, PATCH, DELETE) made with it
        must carry an `Origin` header for a Canopy page, or get 403
        `bad_origin`.

  parameters:
    EventId:
      name: id
      in: path
      required: true
      description: The event's id, 12 characters of base62 (the last part of its link).
      schema: { type: string, pattern: '^[0-9A-Za-z]{12}$' }
      example: 4fQ9xKpL2mZa
    Cursor:
      name: cursor
      in: query
      description: '`nextCursor` from the page before. Leave out (or empty) for the first page.'
      schema: { type: string }
    Limit:
      name: limit
      in: query
      description: How many to a page, 1 to 100.
      schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
    PersonId:
      name: personId
      in: path
      required: true
      description: A Canopy person id (a UUID).
      schema: { type: string }
    FriendCode:
      name: code
      in: path
      required: true
      description: A friend link's code, 12 characters of base62 (the last part of `/f/<code>`).
      schema: { type: string }
      example: 7Hq2mXc9LpRt

  responses:
    BadRequest:
      description: |
        Something in the request isn't right: `bad_json`, `bad_title`,
        `bad_starts_at`, `bad_ends_at`, `ends_before_start`,
        `bad_time_zone`, `bad_guest_list_visibility`, `bad_description`,
        `bad_location_name`, `bad_location_address`, `bad_status`,
        `bad_guests`, `too_many_guests`, `bad_guests_allowed`,
        `bad_person_ids`, `bad_person_id`, `bad_text`, `bad_capacity`, `bad_theme_hue`, `bad_theme_grayscale`, `bad_accent_hue`, `accent_needs_grayscale`,
        `bad_details`, `too_many_details` (more than 10), and, with the
        detail's `index`: `bad_detail`, `bad_detail_type`,
        `bad_detail_label`, `bad_detail_value`, `bad_detail_url`,
        `bad_detail_phone`, `detail_too_long` (a label over 60
        characters or a value over 500);
        `bad_image`, `bad_ids`, `bad_platform`, `bad_token`, `one_of`,
        `bad_phone`, `bad_instagram`, `bad_cursor`, `bad_limit`, `bad_settings`,
        `unknown_setting`, `bad_calendar_invites`; and
        `bad_request` on any route for a request that can't be read at
        all (a URL whose `%` escapes don't decode, say).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { error: 'an event has to end after it starts', reason: ends_before_start }
    SignInRequired:
      description: Not signed in (`sign_in_required`), with where to send someone.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            error: sign in first
            reason: sign_in_required
            signIn: https://account.canopysf.com/?return=https%3A%2F%2Fevents.canopysf.com%2Fe%2F4fQ9xKpL2mZa
            quickSignUp: https://account.canopysf.com/?quick=1&return=https%3A%2F%2Fevents.canopysf.com%2Fe%2F4fQ9xKpL2mZa
    Forbidden:
      description: |
        Not allowed: `hosts_only`, `creator_only` (co-hosts can't do this),
        `answer_first` (posting before saying you're going or maybe),
        `not_yours` (deleting someone else's post), `lookup_not_allowed`,
        `email_unverified` (with a `verify` link when it's about your own
        email; without one when it's about someone you tried to make a
        co-host), or `bad_origin` (a change made with the cookie from a
        page that isn't Canopy's).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            error: verify your email first
            reason: email_unverified
            verify: https://account.canopysf.com/profile?verify=1&return=https%3A%2F%2Fevents.canopysf.com%2F
    EventNotFound:
      description: No event at that id (`event_not_found`).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { error: "there's no event at that link", reason: event_not_found }
    NotFound:
      description: '`event_not_found`, `not_invited`, `person_not_found`, `not_cohost`, `entry_not_found`, `not_removed`, `not_a_friend` or `friend_link_not_found`.'
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Conflict:
      description: |
        Not in this event's state: `event_cancelled`, `event_over`,
        `host_cannot_rsvp`, `already_responded`, `is_creator`,
        `too_many_cohosts`, `no_room`, `removed` (a host removed you),
        `is_host` (removing a host, or a host muting or leaving their own
        event), `not_on_event` (muting or leaving an event you aren't on);
        and for friends and opt-outs, `is_you` (yourself) and `own_link`
        (accepting your own friend link).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { error: 'this event has been cancelled', reason: event_cancelled }
    TooLarge:
      description: The body is over 100 KB, or an image over 15 MB (`too_large`).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    RateLimited:
      description: Over a limit (`rate_limited`). Try again later.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unavailable:
      description: Canopy Accounts couldn't be reached (`accounts_unreachable`). Try again in a minute.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:
    Error:
      type: object
      additionalProperties: false
      required: [error, reason]
      properties:
        error: { type: string, description: A sentence a person can read. }
        reason: { type: string, description: What happened, as a snake_case code to branch on. }
        signIn: { type: string, format: uri, description: 'With `sign_in_required`: where to sign in and come back.' }
        quickSignUp: { type: string, format: uri, description: 'With `sign_in_required`: the quick sign-up (name, email, passkey), for someone new to Canopy.' }
        verify: { type: string, format: uri, description: 'With `email_unverified`: where to prove the email and come back.' }
        index: { type: integer, minimum: 0, description: "With a refusal about one of an event's `details`: which one (from 0), so an app can point at it." }

    CalendarEntries:
      type: object
      additionalProperties: false
      required: [entries]
      properties:
        entries:
          type: array
          items: { $ref: '#/components/schemas/CalendarEntry' }
      example:
        entries:
          - uid: q7Lm2xR9TcWb@events.canopysf.com
            title: Rooftop dinner
            start: '2026-10-31T03:00:00.000Z'
            end: '2026-10-31T06:00:00.000Z'
            allDay: false
            timeZone: America/Los_Angeles
            location: "Ana's place, 1 Market St, San Francisco"
            url: https://events.canopysf.com/e/4fQ9xKpL2mZa
            status: tentative
            description: "You said maybe.\n\nBring a jacket.\n\nhttps://events.canopysf.com/e/4fQ9xKpL2mZa"
            updatedAt: '2026-10-01T12:00:00.000Z'

    CalendarEntry:
      type: object
      additionalProperties: false
      required: [uid, title, start, end, allDay, timeZone, location, url, status, description, updatedAt]
      properties:
        uid:
          type: string
          description: '`<the event''s own id>@events.canopysf.com`. The event''s internal id, which never changes, not its link, which "new link" replaces.'
        title: { type: string, description: 'The event''s title; `[INVITED] <title>` for an invitation not answered yet.' }
        start: { type: string, format: date-time }
        end: { type: [string, 'null'], format: date-time, description: null when the host gave no end time. }
        allDay: { type: boolean, const: false, description: Events always have a time. }
        timeZone: { type: string, description: The event's IANA time zone. }
        location:
          type: [string, 'null']
          description: The place's name and its address, joined with a comma; null with neither.
        url: { type: string, format: uri, description: 'The event''s current link.' }
        status: { type: string, enum: [confirmed, tentative, cancelled] }
        description:
          type: string
          description: 'Their part in it ("You''re going.", "On the waitlist."), the host''s description, and the link, separated by blank lines. An invitation starts "You''re invited. Answer here: <link>" and doesn''t repeat the link at the end.'
        updatedAt:
          type: string
          format: date-time
          description: When the event, or their part in it, last changed.

    Ok:
      type: object
      additionalProperties: false
      required: [ok]
      properties:
        ok: { const: true }

    Person:
      description: |
        Anyone other than you, and the only shape anyone else ever has. A
        deleted account (a former member) is `firstName: "Former member"`,
        `lastName: ""`, `shortName: "Former member"`, `photoUrl: null`.
      type: object
      additionalProperties: false
      required: [id, firstName, lastName, shortName, photoUrl]
      properties:
        id: { type: string }
        firstName: { type: string }
        lastName: { type: string }
        shortName: { type: string, description: First name and last initial, e.g. "Ana L". }
        photoUrl:
          type: [string, 'null']
          format: uri
          description: |
            On account.canopysf.com. Served only with a Canopy session (the
            browser's cookie); null for no photo.
      example:
        id: 6f1c2b9e-4d0a-4a53-9a51-2f7e0c1d8b44
        firstName: Ana
        lastName: Lima
        shortName: Ana L
        photoUrl: https://account.canopysf.com/photo/6f1c2b9e-4d0a-4a53-9a51-2f7e0c1d8b44?v=1759870000000

    Me:
      description: |
        You. Only ever from `GET /api/v1/me`. No email, phone, Instagram,
        Venmo or Cash App, not even your own: events never shows them, so
        it doesn't have them. Your own contact details come from Canopy
        accounts, `GET /api/native/v1/me` (and are changed there).
      type: object
      additionalProperties: false
      required: [id, firstName, lastName, shortName, photoUrl, emailVerified, findable]
      properties:
        id: { type: string }
        firstName: { type: string }
        lastName: { type: string }
        shortName: { type: string }
        photoUrl: { type: [string, 'null'], format: uri }
        emailVerified:
          type: boolean
          description: False for a quick account whose email isn't proven yet. Show the verify banner.
        findable:
          type: [boolean, 'null']
          description: Whether people who know your phone or Instagram can find you. Null if the account service didn't say.

    MeEnvelope:
      type: object
      additionalProperties: false
      required: [person, verifyUrl, hasHosted]
      properties:
        person: { $ref: '#/components/schemas/Me' }
        verifyUrl:
          type: [string, 'null']
          format: uri
          description: Where to prove your email, while `emailVerified` is false; null after.
        hasHosted:
          type: boolean
          description: |
            Whether you've ever hosted or co-hosted an event: show a
            Hosting tab when true. Once true it stays true, even after
            stepping down as a co-host or every event being over or
            cancelled.
      example:
        person:
          id: 6f1c2b9e-4d0a-4a53-9a51-2f7e0c1d8b44
          firstName: Ana
          lastName: Lima
          shortName: Ana L
          photoUrl: null
          emailVerified: false
          findable: true
        verifyUrl: https://account.canopysf.com/profile?verify=1&return=https%3A%2F%2Fevents.canopysf.com%2F
        hasHosted: false

    RsvpStatus:
      type: string
      enum: [invited, going, maybe, not_going, waitlisted, removed]
      description: |
        `invited` is invited with no answer yet. `waitlisted` is a `going`
        that didn't fit the event's capacity; the server moves it to
        `going` when a spot that fits frees up. Nobody asks for it.
        `removed` is a host having taken you off the event: you only ever
        see it as your own `viewer.rsvp`, and hosts on the guest list with
        `?status=removed`.

    Counts:
      description: |
        How many of each status. Always shown, to everyone, except
        `invited`, which is the hosts' alone (null for anyone else, signed
        out included), like the names of who's invited. Hosts aren't
        counted. The top-level numbers are **people**; `guests` is the
        plus-ones those people bring, and `total` is the two together
        (people + plus-ones), for the answers that bring anyone.
      type: object
      additionalProperties: false
      required: [going, maybe, notGoing, invited, waitlisted, guests, total]
      properties:
        going: { type: integer, minimum: 0 }
        maybe: { type: integer, minimum: 0 }
        notGoing: { type: integer, minimum: 0 }
        invited:
          type: [integer, 'null']
          minimum: 0
          description: Invited and not answered yet. Hosts only; null for everyone else.
        waitlisted: { type: integer, minimum: 0 }
        guests: { $ref: '#/components/schemas/GuestCounts' }
        total: { $ref: '#/components/schemas/GuestCounts' }
      example:
        going: 4
        maybe: 1
        notGoing: 1
        invited: 3
        waitlisted: 0
        guests: { going: 2, maybe: 0, waitlisted: 0 }
        total: { going: 6, maybe: 1, waitlisted: 0 }

    GuestCounts:
      type: object
      additionalProperties: false
      required: [going, maybe, waitlisted]
      properties:
        going: { type: integer, minimum: 0 }
        maybe: { type: integer, minimum: 0 }
        waitlisted: { type: integer, minimum: 0 }

    Host:
      type: object
      additionalProperties: false
      required: [person, role]
      properties:
        person: { $ref: '#/components/schemas/Person' }
        role:
          type: string
          enum: [creator, cohost]
          description: |
            The creator first, then co-hosts in the order they were added.
            Co-hosts can edit and invite; only the creator manages
            co-hosts, cancels and makes a new link.

    Rsvp:
      description: Your own place on an event.
      type: object
      additionalProperties: false
      required: [status, guests, guestsOverLimit, invited, respondedAt]
      properties:
        status: { $ref: '#/components/schemas/RsvpStatus' }
        guests: { type: integer, minimum: 0, description: Plus-ones you're bringing. }
        guestsOverLimit:
          type: boolean
          description: |
            True when the host has since lowered `guestsAllowed` below your
            `guests`. Your answer stands as it is; changing it has to fit.
        invited: { type: boolean, description: Whether a host invited you. }
        respondedAt: { type: [string, 'null'], format: date-time, description: When you last answered; null while only invited. }

    Viewer:
      description: You and this event. Null when signed out.
      type: object
      additionalProperties: false
      required: [role, rsvp, canEdit, canSeeGuestList, canPost, muted]
      properties:
        role:
          type: [string, 'null']
          enum: [creator, cohost, null]
          description: Your part in hosting it, or null.
        rsvp:
          oneOf:
            - $ref: '#/components/schemas/Rsvp'
            - type: 'null'
        canEdit: { type: boolean }
        canSeeGuestList: { type: boolean, description: "Whether the guest list's names are shown to you. The wall follows the same rule." }
        canPost: { type: boolean, description: 'Whether you may post on the wall: hosts, and answers of going, maybe or waitlisted.' }
        muted: { type: boolean, description: "You muted this event (PUT .../mute): its chatter doesn't reach your inbox. Always false for a host." }

    FriendsGoing:
      description: |
        Which of your friends are going. `people` is the first 12, and
        empty when you can't see the guest list's names yet; `count` is
        always all of them.
      type: object
      additionalProperties: false
      required: [count, people]
      properties:
        count: { type: integer, minimum: 0 }
        people:
          type: array
          items: { $ref: '#/components/schemas/Person' }

    Event:
      type: object
      additionalProperties: false
      required: [id, url, title, description, startsAt, endsAt, timeZone, locationName, locationAddress,
                 locationAddressHidden, details, hiddenDetails, guestListVisibility, guestsAllowed, capacity, spotsLeft, coverImageUrl,
                 coverImages, themeHue, themeGrayscale, accentHue, coverHue, coverGrayscale, status, cancelledAt, createdAt, updatedAt,
                 hosts, counts, viewer]
      properties:
        id: { type: string, pattern: '^[0-9A-Za-z]{12}$' }
        url: { type: string, format: uri, description: The event's link, to share. }
        title: { type: string }
        description: { type: [string, 'null'] }
        startsAt: { type: string, format: date-time }
        endsAt: { type: [string, 'null'], format: date-time }
        timeZone: { type: string, description: 'IANA, e.g. America/Los_Angeles: show times in it.' }
        locationName: { type: [string, 'null'] }
        locationAddress: { type: [string, 'null'], description: Null when signed out (see locationAddressHidden). }
        locationAddressHidden: { type: boolean, description: True when there's an address you'll see once signed in. }
        details:
          type: array
          maxItems: 10
          items: { $ref: '#/components/schemas/EventDetail' }
          description: |
            The host's extra fields under the description (a link, the
            dress code, parking...), in the host's order; empty with none.
            Signed out, and for someone a host removed, the `parking`,
            `accommodation` and `phone` ones are left out, like the street
            address: `hiddenDetails` says how many.
        hiddenDetails:
          type: integer
          minimum: 0
          maximum: 10
          description: How many details are left out until you sign in (see `details`); 0 when you see them all.
        guestListVisibility: { type: string, enum: [everyone, responded] }
        guestsAllowed: { type: integer, minimum: 0, maximum: 10, description: Plus-ones each answer may bring. }
        capacity:
          type: [integer, 'null']
          minimum: 1
          description: The most people going, plus-ones included; null for no cap.
        spotsLeft:
          type: [integer, 'null']
          minimum: 0
          description: '`capacity` minus `counts.total.going`, never below 0; null with no cap.'
        coverImageUrl:
          type: [string, 'null']
          format: uri
          description: |
            The cover image, a JPEG, at full size (up to 1600 px on its
            longer side), or null. Public (no sign-in needed), so it works
            in link previews; it changes with every upload, so cache it by
            URL. To draw it, pick from `coverImages`.
        coverImages:
          type: array
          items: { $ref: '#/components/schemas/CoverImage' }
          description: |
            Every size the cover is stored at, all JPEG, narrowest first;
            the last is the full size, at `coverImageUrl`. Pick the
            narrowest whose `width` is at least the width you draw it at
            in pixels (points × screen scale; for a frame it fills
            `object-fit: cover` style, its width × max(1, (width ÷ height)
            ÷ (frame width ÷ frame height))), else the last. Empty with no
            cover, and for a little while after a deploy for a cover
            uploaded before sizes existed, while the server makes them:
            use `coverImageUrl` then.
        themeHue:
          type: [integer, 'null']
          minimum: 0
          maximum: 359
          description: |
            The event's colour: the page's dark mesh background rotated to
            this hue, in degrees (OKLCH), or null for Canopy's own green
            (which is hue 161). Ignored while `themeGrayscale` is true.
            Draw the background as docs/api.md ("Event colours") says, so
            an app matches the web.
        themeGrayscale:
          type: boolean
          description: True when the host chose no colour at all; the page is neutral grey, whatever `themeHue` says.
        accentHue:
          type: [integer, 'null']
          minimum: 0
          maximum: 359
          description: |
            A grey event's accent (buttons, the "how soon" pill, the photo
            ring, icons, links): a hue in degrees, or null for **white**.
            Always null while `themeGrayscale` is false, when the accent
            follows `themeHue` as it always has. docs/api.md ("Event
            colours") says how to draw it.
        coverHue:
          type: [integer, 'null']
          minimum: 0
          maximum: 359
          description: |
            The hue that matches the cover photo, worked out when it was
            uploaded: a suggestion for `themeHue`, which an upload never
            changes. Null with no cover, for a grey photo (see
            `coverGrayscale`), or for a cover uploaded before this existed.
        coverGrayscale:
          type: boolean
          description: True when the cover is essentially grey, so the colour that matches it is `themeGrayscale`.
        status: { type: string, enum: [active, cancelled] }
        cancelledAt: { type: [string, 'null'], format: date-time }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        hosts:
          type: array
          items: { $ref: '#/components/schemas/Host' }
        counts: { $ref: '#/components/schemas/Counts' }
        viewer:
          oneOf:
            - $ref: '#/components/schemas/Viewer'
            - type: 'null'
        friendsGoing:
          $ref: '#/components/schemas/FriendsGoing'
          description: Only on a single event (not in lists), and only when signed in.
      example:
        id: 4fQ9xKpL2mZa
        url: https://events.canopysf.com/e/4fQ9xKpL2mZa
        title: Rooftop dinner
        description: Bring a jacket.
        startsAt: '2026-11-01T02:30:00.000Z'
        endsAt: '2026-11-01T06:00:00.000Z'
        timeZone: America/Los_Angeles
        locationName: "Ana's place"
        locationAddress: 1 Market St, San Francisco
        locationAddressHidden: false
        details:
          - { type: link, label: Playlist, value: 'https://open.spotify.com/playlist/37i9dQZF1DX4WYpdgoIcn6', href: 'https://open.spotify.com/playlist/37i9dQZF1DX4WYpdgoIcn6' }
          - { type: dress_code, label: null, value: Warm layers, href: null }
          - { type: parking, label: null, value: "Street parking on Main; the garage closes at 11.", href: null }
          - { type: phone, label: "Ana's cell", value: '(415) 555-0142', href: 'tel:4155550142' }
        hiddenDetails: 0
        guestListVisibility: responded
        guestsAllowed: 1
        capacity: 20
        spotsLeft: 14
        coverImageUrl: https://events.canopysf.com/covers/Qm7Zc2pR9xTa.jpg?v=1759870000000
        coverImages:
          - { width: 400, height: 300, url: 'https://events.canopysf.com/covers/Qm7Zc2pR9xTa-400.jpg?v=1759870000000' }
          - { width: 800, height: 600, url: 'https://events.canopysf.com/covers/Qm7Zc2pR9xTa-800.jpg?v=1759870000000' }
          - { width: 1200, height: 900, url: 'https://events.canopysf.com/covers/Qm7Zc2pR9xTa-1200.jpg?v=1759870000000' }
          - { width: 1600, height: 1200, url: 'https://events.canopysf.com/covers/Qm7Zc2pR9xTa.jpg?v=1759870000000' }
        themeHue: null
        themeGrayscale: false
        accentHue: null
        coverHue: 24
        coverGrayscale: false
        status: active
        cancelledAt: null
        createdAt: '2026-10-07T20:00:00.000Z'
        updatedAt: '2026-10-07T20:00:00.000Z'
        hosts:
          - person: { id: 6f1c2b9e-4d0a-4a53-9a51-2f7e0c1d8b44, firstName: Ana, lastName: Lima, shortName: Ana L, photoUrl: null }
            role: creator
        counts:
          going: 4
          maybe: 1
          notGoing: 1
          invited: 3
          waitlisted: 0
          guests: { going: 2, maybe: 0, waitlisted: 0 }
          total: { going: 6, maybe: 1, waitlisted: 0 }
        viewer:
          role: null
          rsvp: { status: going, guests: 1, guestsOverLimit: false, invited: true, respondedAt: '2026-10-08T17:12:00.000Z' }
          canEdit: false
          canSeeGuestList: true
          canPost: true
          muted: false
        friendsGoing:
          count: 1
          people:
            - { id: 0b7e5a1f-9c2d-4e8b-8f3a-1d2c3b4a5e6f, firstName: Ben, lastName: Okafor, shortName: Ben O, photoUrl: null }

    EventDetail:
      description: |
        One of an event's details. How to draw each `type` (the web's
        heading when `label` is null, and an SF Symbol to match its icon):

        | type | heading | SF Symbol | `value` | `href` |
        |---|---|---|---|---|
        | `link` | (none: show `label`, or the address's host) | `link` | an http(s) address | the same address |
        | `info` | Info | `info.circle` | text | null |
        | `dress_code` | Dress code | `tshirt` | text | null |
        | `food` | Food | `fork.knife` | text | null |
        | `parking` | Parking | `parkingsign` | text | null |
        | `accommodation` | Where to stay | `bed.double` | text | null |
        | `phone` | Phone | `phone` | a number, as the host typed it | a `tel:` link |

        Text keeps its line breaks and is plain (no markup, links not
        made clickable). Expect new types later: show nothing for one you
        don't know.
      type: object
      additionalProperties: false
      required: [type, label, value, href]
      properties:
        type: { type: string, enum: [link, info, dress_code, food, parking, accommodation, phone] }
        label:
          type: [string, 'null']
          maxLength: 60
          description: A link's text, or a heading to use in place of the type's own; null for none.
        value: { type: string, minLength: 1, maxLength: 500 }
        href:
          type: [string, 'null']
          description: "Where tapping goes: a link's address (http or https, nothing else), or `tel:` and a phone's digits; null for the text types."

    EventDetailInput:
      type: object
      required: [type, value]
      properties:
        type: { type: string, enum: [link, info, dress_code, food, parking, accommodation, phone] }
        label: { type: [string, 'null'], maxLength: 60, description: "Optional, one line: a link's text, or a heading in place of the type's own." }
        value:
          type: string
          minLength: 1
          maxLength: 500
          description: |
            `link`: a web address. http and https only (anything else,
            `javascript:` included, is 400 `bad_detail_url`); one with no
            scheme ("partiful.com/e/x") gets https; it's stored tidied.
            `phone`: digits, with spaces, dashes, dots, brackets or a
            leading + (3 to 20 digits), stored as typed but trimmed.
            Otherwise plain text; line breaks are kept.

    EventEnvelope:
      type: object
      additionalProperties: false
      required: [event]
      properties:
        event: { $ref: '#/components/schemas/Event' }

    RsvpResult:
      type: object
      additionalProperties: false
      required: [event, waitlisted]
      properties:
        event: { $ref: '#/components/schemas/Event' }
        waitlisted:
          type: boolean
          description: You asked for `going`, it was full, and you're on the waitlist instead.

    EventList:
      type: object
      additionalProperties: false
      required: [events, nextCursor]
      properties:
        events:
          type: array
          items: { $ref: '#/components/schemas/Event' }
        nextCursor: { $ref: '#/components/schemas/NextCursor' }

    NextCursor:
      type: [string, 'null']
      description: Pass back as `?cursor=` for the next page; null at the end.

    Guest:
      type: object
      additionalProperties: false
      required: [person, status, guests, guestsOverLimit, respondedAt]
      properties:
        person: { $ref: '#/components/schemas/Person' }
        status: { $ref: '#/components/schemas/RsvpStatus' }
        guests: { type: integer, minimum: 0, description: Plus-ones they're bringing. }
        guestsOverLimit: { type: boolean, description: 'More than the event now allows (the host lowered `guestsAllowed` after they answered).' }
        respondedAt: { type: [string, 'null'], format: date-time }

    GuestList:
      type: object
      additionalProperties: false
      required: [guestsVisible, guests, counts, nextCursor]
      properties:
        guestsVisible:
          type: boolean
          description: False when you can't see names yet; then `guests` is empty and only `counts` says anything.
        guests:
          type: array
          items: { $ref: '#/components/schemas/Guest' }
        counts: { $ref: '#/components/schemas/Counts' }
        nextCursor: { $ref: '#/components/schemas/NextCursor' }
      example:
        guestsVisible: true
        guests:
          - person: { id: 0b7e5a1f-9c2d-4e8b-8f3a-1d2c3b4a5e6f, firstName: Ben, lastName: Okafor, shortName: Ben O, photoUrl: null }
            status: going
            guests: 1
            guestsOverLimit: false
            respondedAt: '2026-10-08T17:12:00.000Z'
        counts:
          going: 1
          maybe: 0
          notGoing: 0
          invited: 0
          waitlisted: 0
          guests: { going: 1, maybe: 0, waitlisted: 0 }
          total: { going: 2, maybe: 0, waitlisted: 0 }
        nextCursor: null

    Friend:
      type: object
      additionalProperties: false
      required: [person, source, eventsInCommon, lastTogetherAt]
      properties:
        person: { $ref: '#/components/schemas/Person' }
        source:
          type: string
          enum: [shared_events, added, link, invite]
          description: |
            How they're in your list: events you were both at, added by
            id, a friend link (yours or theirs), or an invitation (either
            way). A way in wins over events in common.
        eventsInCommon: { type: integer, minimum: 0, description: 0 for someone you only added. }
        lastTogetherAt:
          type: [string, 'null']
          format: date-time
          description: When the latest of those events started; null with none in common.

    Settings:
      type: object
      additionalProperties: false
      required: [calendarInvites]
      properties:
        calendarInvites:
          type: boolean
          description: Events you're invited to and haven't answered are in your Canopy calendar. On by default.
      example: { calendarInvites: true }

    InviteOptouts:
      type: object
      additionalProperties: false
      required: [hosts]
      properties:
        hosts:
          type: array
          items: { $ref: '#/components/schemas/Person' }

    FriendEnvelope:
      type: object
      additionalProperties: false
      required: [friend]
      properties:
        friend: { $ref: '#/components/schemas/Friend' }

    FriendLink:
      type: object
      additionalProperties: false
      required: [url, code]
      properties:
        url: { type: string, description: 'What to share, and the text of the QR code: https://events.canopysf.com/f/<code>.' }
        code: { type: string, pattern: '^[0-9A-Za-z]{12}$' }
      example: { url: 'https://events.canopysf.com/f/7Hq2mXc9LpRt', code: 7Hq2mXc9LpRt }

    FriendList:
      type: object
      additionalProperties: false
      required: [friends, nextCursor]
      properties:
        friends:
          type: array
          items: { $ref: '#/components/schemas/Friend' }
        nextCursor: { $ref: '#/components/schemas/NextCursor' }

    EventInput:
      description: A new event. Only title, startsAt and timeZone are required.
      type: object
      required: [title, startsAt, timeZone]
      properties:
        title: { type: string, minLength: 1, maxLength: 120, description: One line; whitespace is tidied. Longer is cut. }
        description: { type: [string, 'null'], maxLength: 5000 }
        startsAt: { type: string, format: date-time, description: 'With Z or an offset: "2026-10-31T19:30:00-07:00".' }
        endsAt: { type: [string, 'null'], format: date-time, description: After startsAt. Without one, the event counts as over 6 hours after it starts. }
        timeZone: { type: string, description: 'An IANA time zone, e.g. America/Los_Angeles.' }
        locationName: { type: [string, 'null'], maxLength: 200 }
        locationAddress: { type: [string, 'null'], maxLength: 500 }
        guestListVisibility: { type: string, enum: [everyone, responded], default: everyone }
        guestsAllowed: { type: integer, minimum: 0, maximum: 10, default: 0, description: Plus-ones each answer may bring. }
        capacity: { type: [integer, 'null'], minimum: 1, maximum: 10000, default: null, description: 'The most people going, plus-ones included. null: no cap.' }
        themeHue: { type: [integer, 'null'], minimum: 0, maximum: 359, default: null, description: "The page's colour as a hue in degrees; null is Canopy green (see Event)." }
        themeGrayscale: { type: boolean, default: false, description: "True for no colour at all: a neutral grey page (themeHue is ignored)." }
        accentHue: { type: [integer, 'null'], minimum: 0, maximum: 359, default: null, description: "A grey event's accent hue; null is white. A hue with themeGrayscale false is 400 accent_needs_grayscale." }
        details:
          type: [array, 'null']
          maxItems: 10
          items: { $ref: '#/components/schemas/EventDetailInput' }
          description: The extra fields under the description, in order (see EventDetail). Several of one type are fine. A refusal about one of them says which in the error's `index`.

    EventPatch:
      description: Any of the fields of EventInput, plus status. Only what's sent changes.
      type: object
      properties:
        title: { type: string, minLength: 1, maxLength: 120 }
        description: { type: [string, 'null'], maxLength: 5000 }
        startsAt: { type: string, format: date-time }
        endsAt: { type: [string, 'null'], format: date-time }
        timeZone: { type: string }
        locationName: { type: [string, 'null'], maxLength: 200 }
        locationAddress: { type: [string, 'null'], maxLength: 500 }
        guestListVisibility: { type: string, enum: [everyone, responded] }
        guestsAllowed: { type: integer, minimum: 0, maximum: 10, description: Lowering it keeps answers that bring more (see guestsOverLimit). }
        capacity: { type: [integer, 'null'], minimum: 1, maximum: 10000, description: "null clears it. Raising it promotes from the waitlist; lowering it bumps nobody." }
        themeHue: { type: [integer, 'null'], minimum: 0, maximum: 359, description: "Any host, co-hosts too. null goes back to Canopy green." }
        themeGrayscale: { type: boolean, description: "true for a grey page; false to use themeHue again (which also clears accentHue)." }
        accentHue: { type: [integer, 'null'], minimum: 0, maximum: 359, description: "A grey event's accent hue, null for white. Refused (400 accent_needs_grayscale) unless the event is, or this change makes it, grey." }
        details:
          type: [array, 'null']
          maxItems: 10
          items: { $ref: '#/components/schemas/EventDetailInput' }
          description: The whole list, replacing the one there was; null or [] takes them all off.
        status: { type: string, enum: [active, cancelled], description: 'cancelled cancels it; active takes that back. The creator only.' }

    RsvpInput:
      type: object
      required: [status]
      properties:
        status: { type: string, enum: [going, maybe, not_going] }
        guests: { type: integer, minimum: 0, maximum: 10, default: 0, description: "Plus-ones, up to the event's guestsAllowed. Ignored for not_going." }

    WallEntry:
      description: |
        One thing on the wall. `type` says what, and the app words it:

        | type | means | `person` | `details` |
        |---|---|---|---|
        | `post` | a post, in `text` | who wrote it | null |
        | `going` | they said they're going | who | null |
        | `off_waitlist` | they got a spot from the waitlist | who | null |
        | `time_changed` | a host moved it | the host | the new `startsAt`, `endsAt`, `timeZone` |
        | `place_changed` | a host changed where | the host | the new `locationName`, `locationAddress` |
[...]
